{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
    <div class="main">

       <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image updatepassword-image" >
                        <figure><img src="{% static '/assets/images/password-window.png' %}" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Update Password</h2>
                        <form method="POST" class="register-form" id="updatepassword-form">
                            <div class="form-group">
                                <label for="your_name">Current Password</label>
                                 <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder= "current password"  data-toggle="password" >
                                </div>
                            </div>
                            <div class="form-group">
                               <label for="your_name">New Password</label>
                                 <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder= "new password"  data-toggle="password" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your_name">Re-enter Password</label>
                                 <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder= "reenter password"  data-toggle="password" >
                                </div>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="updatepassword" id="updatepassword" class="form-submit" value="Update Password"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
 </div>

{% endblock content %}