{% extends "layouts/base.html" %}

{% block title %}
    Profile (For first time registration)
{% endblock %}

{% block heading %}
    <h1>Profile (For first time registration)</h1>
{% endblock %}

{% block content %}
<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">List of Buyers</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                             <th>Date of Order</th>
                             <th>Product Name</th>
                             <th>Quantity</th>
                             <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5/7/2019</td>
                            <td>Sports Shoes</td>
                            <td>5</td>
                            <td>  <i class="m-0 text-c-green">Done</i></td>
                        </tr>
                        <tr>
                            <td>9/7/2019</td>
                            <td>t-shirt</td>
                            <td>8</td>
                            <td><i class="m-0 text-c-blue">Pending</i></>
                        </tr>
                        <tr>
                            <td>5/7/2019</td>
                            <td>Jeans</td>
                            <td>3</td>
                            <td><i class="m-0 text-c-black">canceled</i></>
                        </tr>
                        <tr>
                           <td>5/7/2019</td>
                            <td>Charger</td>
                            <td>1</td>
                            <td><i class="m-0 text-c-red">Failed</i></>
                        </tr>
                        <tr>
                           <td>5/7/2019</td>
                            <td>Antivirus CD</td>
                            <td>3</td>
                            <td><i class="m-0 text-c-green">Done</i></>
                        </tr>
                         <tr>
                                <td>5/7/2019</td>
                                <td>Sports Shoes</td>
                                <td>5</td>
                                <td>  <i class="m-0 text-c-green">Done</i></>
                            </tr>
                            <tr>
                                <td>9/7/2019</td>
                                <td>t-shirt</td>
                                <td>8</td>
                                <td><i class="m-0 text-c-blue">Pending</i></>
                            </tr>
                            <tr>
                                <td>5/7/2019</td>
                                <td>Jeans</td>
                                <td>3</td>
                                <td><i class="m-0 text-c-black">canceled</i></>
                            </tr>
                            <tr>
                               <td>5/7/2019</td>
                                <td>Charger</td>
                                <td>1</td>
                                <td><i class="m-0 text-c-red">Failed</i></>
                            </tr>
                            <tr>
                               <td>5/7/2019</td>
                                <td>Antivirus CD</td>
                                <td>3</td>
                                <td><i class="m-0 text-c-green">Done</i></td>
                            </tr>
                         <tr>
                                <td>5/7/2019</td>
                                <td>Sports Shoes</td>
                                <td>5</td>
                                <td>  <i class="m-0 text-c-green">Done</i></td>
                            </tr>
                            <tr>
                                <td>9/7/2019</td>
                                <td>t-shirt</td>
                                <td>8</td>
                                <td><i class="m-0 text-c-blue">Pending</i></td>
                            </tr>
                            <tr>
                                <td>5/7/2019</td>
                                <td>Jeans</td>
                                <td>3</td>
                                <td><i class="m-0 text-c-black">canceled</i></td>
                            </tr>
                            <tr>
                               <td>5/7/2019</td>
                                <td>Charger</td>
                                <td>1</td>
                                <td><i class="m-0 text-c-red">Failed</i></td>
                            </tr>
                            <tr>
                               <td>5/7/2019</td>
                                <td>Antivirus CD</td>
                                <td>3</td>
                                <td><i class="m-0 text-c-green">Done</i></td>
                            </tr>
                         <tr>
                                <td>5/7/2019</td>
                                <td>Sports Shoes</td>
                                <td>5</td>
                                <td><i class="m-0 text-c-green">Done</i></>
                            </tr>
                            <tr>
                                <td>9/7/2019</td>
                                <td>t-shirt</td>
                                <td>8</td>
                                <td><i class="m-0 text-c-blue">Pending</i></>
                            </tr>
                            <tr>
                                <td>5/7/2019</td>
                                <td>Jeans</td>
                                <td>3</td>
                                <td><i class="m-0 text-c-black">canceled</i></>
                            </tr>
                            <tr>
                               <td>5/7/2019</td>
                                <td>Charger</td>
                                <td>1</td>
                                <td><i class="m-0 text-c-red">Failed</i></>
                            </tr>
                            <tr>
                               <td>5/7/2019</td>
                                <td>Antivirus CD</td>
                                <td>3</td>
                                <td><i class="m-0 text-c-green">Done</i></>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Date of Order</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Status</th>
                            </tr>
                    </tfoot>
            </table>
            <div class="card-body">
                <div class="col">
                    <div class="col-md-12">
                    <a href="/charts-load" class="btn btn-primary btn-round ">View</a>
                    <a href="/charts-load" class="btn btn-primary btn-round ">Download</a>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
{% block javascripts %}
  <script>
      $(document).ready(function() {
    $('#example').DataTable( {
        "order"
    } );
} );
  </script>

{% endblock javascripts %}